@page "/Settings"
@using ChampionshipManager.Db.Models
@using ChampionshipManager.Web.Utils
@using ChampionshipManager.BusinessLayer.Services
@using ChampionshipManager.Web.Pages.Skills
@using ChampionshipManager.Web.Pages.Teams


@inject AuthenticationStateProvider AuthenticationStateProvider
@inject OrganizerService OrganizerService

<AuthorizeView>
    <Authorized>

        <div class="row">
            <div class="responsiveColumn">
                <h2>Competitors properties</h2>
                <p>Properties that you care about in tournaments</p>
                <input name="birth" type="checkbox" checked="@_organizer.BirthEnabled" @onclick="ChangeBirthEnabled"/>Birth date<br/>
                <input name="gender" type="checkbox" checked="@_organizer.GenderEnabled" @onclick="ChangeGenderEnabled"/>Gender<br/>
                <input name="skills" type="checkbox" checked="@_organizer.SkillsEnabled" @onclick="ChangeSkillEnabled"/>Skills<br/>
                <input name="skills" type="checkbox" checked="@_organizer.TeamsEnabled" @onclick="ChangeTeamEnabled"/>Teams<br/>
            </div>
            <div class="responsiveColumn">
                <div style=" @_teamsDisplay">
                    <Teams></Teams>
                </div>
                <br/>
                <div style="@_skillsDisplay">
                    <Skills></Skills>
                </div>
            </div>
        </div>


    </Authorized>


    <NotAuthorized>
        Please log in.
    </NotAuthorized>
</AuthorizeView>

@code
{
    private Organizer _organizer;
    private string _teamsDisplay;
    private string _skillsDisplay;

    protected override async Task OnInitializedAsync()
    {
        var organizerName = await AuthenticationStateProvider.GetUserName();
        _organizer = OrganizerService.GetByName(organizerName);

        SetSkillsDisplay(_organizer.SkillsEnabled);
        SetTeamsDisplay(_organizer.TeamsEnabled);
    }


    void ChangeBirthEnabled()
    {
        _organizer.BirthEnabled = !_organizer.BirthEnabled;
        OrganizerService.EditAsync(_organizer);
    }

    void ChangeSkillEnabled()
    {
        _organizer.SkillsEnabled = !_organizer.SkillsEnabled;
        SetSkillsDisplay(_organizer.SkillsEnabled);
        OrganizerService.EditAsync(_organizer);
    }

    void ChangeGenderEnabled()
    {
        _organizer.GenderEnabled = !_organizer.GenderEnabled;
        OrganizerService.EditAsync(_organizer);
    }

    void ChangeTeamEnabled()
    {
        _organizer.TeamsEnabled = !_organizer.TeamsEnabled;
        SetTeamsDisplay(_organizer.TeamsEnabled);
        OrganizerService.EditAsync(_organizer);
    }

    void SetTeamsDisplay(bool value) => _teamsDisplay = "display: " + (value ? "block" : "none");
    void SetSkillsDisplay(bool value) => _skillsDisplay = "display: " + (value ? "block" : "none");
}